.show-position-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.375rem;
  border-radius: 2.406rem;
  background-color: #2f5fef;
  font-size: 1.125rem;
  font-weight: bold;
}
.show-position-btn .search-icon-box {
  width: 2.26rem;
  height: 2.26rem;
  margin-right: 0.938rem;
}
.show-position-btn .search-icon-box .search-icon {
  color: #fff;
  width: 100%;
  height: 100%;
}
.show-position-btn span {
  color: #fff;
}
