:root {
  --card-width: 15.625rem;
  --card-img-height: 10.938rem;
  --card-content-margin-top: 1.063rem;
  --card-img-radius: 0.25rem;
}
.insight-list-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2.5rem;
}
.insight-list-container .insight-list-item-container {
  margin-bottom: 3.125rem;
  width: var(--card-width);
}
.insight-list-container .insight-list-item-container .card-img-box {
  width: 100%;
  height: var(--card-img-height);
  margin-bottom: 0.75rem;
  border-radius: var(--card-img-radius);
}
.insight-list-container .insight-list-item-container .card-img-box img {
  width: 100%;
  height: 100%;
  border-radius: var(--card-img-radius);
}
.insight-list-container .insight-list-item-container .card-title-box {
  text-align: left;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
  font-weight: 700;
}
.insight-list-container .insight-list-item-container .card-desc-box span {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.313rem;
  font-size: 0.813rem;
  color: #aaa;
}
.insight-list-container .insight-list-item-container .card-profile-box {
  display: flex;
  align-items: center;
  margin-top: 0.75rem;
}
.insight-list-container
  .insight-list-item-container
  .card-profile-box
  .card-logo {
  width: 1.875rem;
  height: 1.875rem;
  border: 1px solid #ececec;
  border-radius: 50%;
}
.insight-list-container
  .insight-list-item-container
  .card-profile-box
  .card-logo
  img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}
.insight-list-container
  .insight-list-item-container
  .card-profile-box
  .card-logo-name {
  margin-left: 0.625rem;
  font-size: 0.813rem;
  font-weight: bold;
  color: #aaa;
}
